* {
  padding: 0%;
  margin: 0%;
}

header {
  background-color: #181818;
  padding: 24px 0;

}

.container {
  max-width: 1440px;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d_flex-column {
  flex-direction: column;
}

header nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  font-family: 'Poppins';
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #1B1A1A;
  margin-left: 20px;
}

.container div {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  max-width: 600px;
  align-items: center;
}

.container button {
  margin-left: 20px;
  background: #1B1A1A;
  border-radius: 7px;
  color: white;
  padding: 6px 12px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #FFFFFF;

}

.img_background {
  background-image: url("../img/IMAGE.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  box-sizing: border-box;
}

.img_background>div {
  padding-top: 550px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}


.main_banner {
  display: flex;
  background: #ECE7E4;
}

.main_banner div {
  flex: 1;
  max-width: 600px;
  margin: auto;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #645C55;
}

.main_banner h1 {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  color: #1B1A1A;
}

.main_banner a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin: 20px 25px;
  display: block;
  color: #1B1A1A;
}

.main_banner img {
  max-width: 50vw;
  flex: 1;
}

.firm_banner {
  max-width: 776px;
  margin: 100px auto;
  align-items: flex-start;
}

.firm_banner h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #403E3B;
}

.firm_banner div {
  width: 500px;
}

.firm_banner .author {
  padding: 8px 0;
}

.author img {
  margin-right: 30px;
}

.author h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #1B1A1A;
}

.author p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #645C55;
}

.reeding_banner {
  background-image: url(../img/IMAGE-4.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: end;
  align-items: center;
}

.reeding_banner>div {
  max-width: 300px;
  margin-right: 60px;
}

.process_banner {
  display: flex;
  flex-direction: column;
  max-width: 1168px;
  align-items: center;
  margin: auto;
  text-align: center;
}

.process_banner>div {
  display: flex;
}

.process_banner h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 39px;
  line-height: 42px;
  color: #1B1A1A;
  margin-bottom: 70px;
}

.process_detail {
  width: 370px;
  margin: 0 42px;
}

.process_detail h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #403E3B;
  margin-bottom: 10px;
}

.process_detail img {
  max-width: 117px;
  margin-bottom: 15px;
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #645C55;
}
.reeding_banner1{
  background-image: url(../img/IMAGE-10.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.reeding_banner1 h2{
 


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;

color: #403E3B;
}
.reeding_banner1>div {
  max-width: 300px;
  margin-right: 60px;
}
.reeding_banner2{
  background-image: url(../img/IMAGE-11.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 60px;
}
.reeding_banner2 h2{
 


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;

color: #403E3B;
}
.reeding_banner2>div {
  max-width: 300px;
  margin 60px;

}
